body {
  font-family: system-ui;
  background: #ceeaec;
  color: black;
}
.title{
  text-align: center; font-size: large;
}
section {
  text-align: center;
}
.nav li{
  display: inline-block;font-size: medium;padding: 10px;
}
img{
  width: auto;
}
h1{
  background-color: black;
  color:aliceblue;
  display: block;
  text-align: center;
  border: 10px;
  border-color: bisque;
  border-style: groove;
}
nav{
  display: block;
  font-size: larger;
  opacity: 0.9;

}
nav a{
  color: black;
  padding-right: 30px;
  overflow-y: auto;
}